

.FontMontserratSemiBold {
    font-family: "Montserrat";
    font-weight: 600;
}

.FontMontserratMedium {
    font-family: "Montserrat";
    font-weight:500;
}

.FontDMSansBold
{
    font-family: "DMSans";
    font-weight: 700;
}
